# Supabase
SUPABASE_URL=https://uromuawgcexyixncuygx.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVyb211YXdnY2V4eWl4bmN1eWd4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzQyOTExOCwiZXhwIjoyMDkzMDA1MTE4fQ.k00BPGKhHHHKmIDijYByMfmXxOoKCjrBX6ksUAAwa80

# JWT Secret
JWT_SECRET=gere_uma_string_aleatoria_segura_aqui

ALLOWED_ORIGINS=https://zapsaas.vercel.app
NODE_ENV=production

# Server
PORT=3001
